<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; richashworth.com
            </div>
            <!-- <div class="col&#45;md&#45;6 col&#45;sm&#45;6 text&#45;center text&#45;lg&#45;right">     -->
            <!--     <a target="_blank" rel="noopener" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net -->
            <!-- </div> -->
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
